.price-block {
    width: 240px;
    height: 50px;
    background-color: $seriybg;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.link-block1-q1 {
    width: 200px;
    height: 55px;
    border-radius: 5px;
    background-color: $darkBlue;
    text-align: center;
    padding-top: 15px;
    margin-left: 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
}
.links  {
    width: 200px;
    height: 55px;
    border-radius: 5px;
    background-color: $darkBlue;
    text-align: center;
    padding-top: 15px;
    color: #fff;
}